  <!-- wrapper -->
  <div id="wrapper">
    <!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!
			-->
    <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">
          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Logo -->
          <a class="logo float-left scrollTo" href="../../#home">
            <%= image_tag "/images/R2.png" %>
          </a>
          <!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
          <div class="
                navbar-collapse
                collapse
                float-right
                nav-main-collapse
                submenu-dark
              ">
            <nav class="nav-main">
              <!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
              <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                <li>
                  <!-- HOME -->
                  <a href="../../#home"> HOME </a>
                </li>
                <li>
                  <!-- SERVICES -->
                  <a href="../../#services"> SERVICES </a>
                </li>
                <li>
                  <!-- WORK -->
                  <a href="../../#portfolio"> PORTFOLIO </a>
                </li>
                <li>
                  <!-- NEWS -->
                  <a href="../../#news"> NEWS </a>
                </li>
                <li>
                  <!-- CLIENTS -->
                  <a href="../../#clients"> CLIENTS </a>
                </li>
                <li>
                  <!-- CONTACT -->
                  <a href="../../#contact"> CONTACT </a>
                </li>
                <% if user_signed_in?%>
                  <% if current_user.admin == true || current_user.employee == true%>
                  <li>
                    <a class='navbar-link' href="/admin">ADMIN</a>
                  </li>
                  <%end%>
                <% end %>
                <% if user_signed_in? %>
                  <li>      
                    <%= link_to 'EDIT PROFILE' , edit_user_registration_path, :class=> 'navbar-link' %>
                  </li>                  
                  <li> 
                    <%= link_to "LOGOUT" , destroy_user_session_path, method: :delete, :class=> 'navbar-link' %>
                  </li>
                <% else %> 
                  <li>
                    <%= link_to "LOGIN" , new_user_session_path, :class=> 'navbar-link' %>
                  </li>
                  <li>
                    <%= link_to "SIGN UP" , new_user_registration_path, :class=> 'navbar-link' %>
                  </li> 
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- /Top Nav -->
    </div>
<h1>Listing quotes</h1>
<%= link_to 'New quote', new_quote_path %>

 
<table>
  <tr>
    <th>Building type</th>
    <th>Number of appartement</th>
    <th>Number of floor</th>
    <th>Number of basement</th>
    <th>Plan Choosed</th>
    <th>Number of business</th>
    <th>Number of parking</th>
    <th>Number of cages</th>
    <th>Number of occupant</th>
    
    <th></th>
  </tr>
 
  <% @quotes.each do |quote| %>
    <tr>
      <td><%= quote.building_type %></td>
      <td><%= quote.appartement %></td>
      <td><%= quote.floor %></td>
      <td><%= quote.basement %></td>
      <td><%= quote.plan %></td>
      <td><%= quote.business %></td>
      <td><%= quote.parking %></td>
      <td><%= quote.cages %></td>
      <td><%= quote.occupant %></td>
      <td><%= link_to 'Show', quote_path(quote) %></td>
      <td><%= link_to 'Delete', quote_path(quote),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                  <!-- FOOTER -->
                  <footer id="footer">
                    <div class="container">
                      <div class="row">
                        <!-- col #1 -->
                        <div class="col-md-8">
                          <h3 class="letter-spacing-1">WHY US?</h3>

                          <!-- Small Description -->
                          <p>
                            We have the conviction that we create the most innovative and
                            reliable products on the market. Contact us today for any
                            questions you might have.
                          </p>
                          <h2>(418) 555-1234</h2>
                        </div>
                        <!-- /col #1 -->

                        <!-- col #2 -->
                        <div class="col-md-4">
                          <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

                          <!-- Newsletter Form -->
                          <p>Subscribe to Our Newsletter to get Important News & Offers</p>

                          <form class="validate" action="" data-success="Subscribed! Thank you!"
                            data-toastr-position="bottom-right">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                              <input type="email" id="email" name="email" class="form-control required"
                                placeholder="Enter your Email" />
                              <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                  Subscribe
                                </button>
                              </span>
                            </div>
                          </form>
                          <!-- /Newsletter Form -->
                        </div>
                        <!-- /col #2 -->
                      </div>
                    </div>

                    <div class="copyright">
                      <div class="container">
                        <ul class="float-right m-0 list-inline mobile-block">
                          <li><a href="#">Terms &amp; Conditions</a></li>
                          <li>&bull;</li>
                          <li><a href="#">Privacy</a></li>
                        </ul>
                        &copy; All Rights Reserved, Rocket Elevators
                      </div>
                    </div>
                  </footer>
                  <!-- /FOOTER -->
  </div>