<p>
  <strong>Building type:</strong>
  <%= @quote.building_type %>
</p>

<p>
  <strong>Number of appartement: </strong>
  <%= @quote.appartement %>
</p>

<p>
  <strong>Number of floor: </strong>
  <%= @quote.floor %>
</p>
 
<p>
  <strong>Number of basement</strong>
  <%= @quote.basement %>
</p>

<p>
  <strong>Plan choosed</strong>
  <%= @quote.plan %>
</p>

<p>
  <strong>Number of businesses :</strong>
  <%= @quote.business %>
</p>

<p>
  <strong>Number of parking :</strong>
  <%= @quote.parking %>
</p>

<p>
  <strong>Number of cages :</strong>
  <%= @quote.cages %>
</p>

  <strong>Number of occupant :</strong>
  <%= @quote.occupant %>
</p>

<%= link_to 'home', quotes_path %>