<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Rocket Elevator | Residential</title>
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
  <meta name="description" content="" />
  <meta name="Author" content="Daniel Gallardo" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />
</head>

<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations
	-->

<body class="enable-animation">
  <!-- wrapper -->
  <div id="wrapper">
    <!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!
			-->
    <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">
          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Logo -->
          <a class="logo float-left scrollTo" href="../../#home">
            <%= image_tag "/images/R2.png" %>
          </a>
          <!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
          <div class="
                navbar-collapse
                collapse
                float-right
                nav-main-collapse
                submenu-dark
              ">
            <nav class="nav-main">
              <!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
              <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                <li>
                  <!-- HOME -->
                  <a href="../../#home"> HOME </a>
                </li>
                <li>
                  <!-- SERVICES -->
                  <a href="../../#services"> SERVICES </a>
                </li>
                <li>
                  <!-- WORK -->
                  <a href="../../#portfolio"> PORTFOLIO </a>
                </li>
                <li>
                  <!-- NEWS -->
                  <a href="../../#news"> NEWS </a>
                </li>
                <li>
                  <!-- CLIENTS -->
                  <a href="../../#clients"> CLIENTS </a>
                </li>
                <li>
                  <!-- CONTACT -->
                  <a href="../../#contact"> CONTACT </a>
                <% if user_signed_in?%>
                  <% if current_user.admin == true || current_user.employee == true%>
                  <li>
                    <a class='navbar-link' href="/admin">ADMIN</a>
                  </li>
                  <%end%>
                <% end %>
                <% if user_signed_in? %>
                  <li>      
                    <%= link_to 'EDIT PROFILE' , edit_user_registration_path, :class=> 'navbar-link' %>
                  </li>                  
                  <li> 
                    <%= link_to "LOGOUT" , destroy_user_session_path, method: :delete, :class=> 'navbar-link' %>
                  </li>
                <% else %> 
                  <li>
                    <%= link_to "LOGIN" , new_user_session_path, :class=> 'navbar-link' %>
                  </li>
                  <li>
                    <%= link_to "SIGN UP" , new_user_registration_path, :class=> 'navbar-link' %>
                  </li> 
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- /Top Nav -->
    </div>

    <section class="b-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="hidden-xs-down mb-30">
              <h1 class="m-0 fs-25">Residential Projects</h1>
              <h6>JUNE 29, 2017 &ndash; PRESENT</h6>
            </div>

            <p>
              The last trend of Residential Elevators per Building brought
              directly to you from our engineers.
            </p>

            <div class="heading-title heading-border heading-color mt-0">
              <h2 class="fs-18 fw-400">BEYOND THE FUTURE</h2>
              <p class="fs-13">WE FLY, WE NEVER FALL</p>
            </div>

            <p>
              Leverage agile frameworks to provide a robust synopsis for high
              level overviews. Iterative approaches to corporate strategy
              foster collaborative thinking to further the overall value
              proposition. Organically grow the holistic world view of
              disruptive innovation via workplace diversity and empowerment.
            </p>
            <p>
              Bring to the table win-win survival strategies to ensure
              proactive domination. At the end of the day, going forward, a
              new normal that has evolved from generation X is on the runway
              heading towards a streamlined cloud solution. User generated
              content in real-time will have multiple touchpoints for
              offshoring.
            </p>

            <a href="index.html#portfolio" class="btn btn-xlg btn-default btn-bordered btn-block mt-50">VISIT OUR
              PROJECTS</a>
          </div>
          <div class="col-lg-8">
            <div class="lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
              <a href="images/corporate1.jpg" class="
                    image-hover-plus image-hover-zoom image-hover-overlay
                    mb-60
                  ">
                <%= image_tag '/images/corporate1.jpg' , :class=> "img-fluid" %>
                  <i class="icon-hover-plus"></i>
              </a>
              <a href="images/corporate2.jpg" class="
                    image-hover-plus image-hover-zoom image-hover-overlay
                    mb-60
                  ">
                <%= image_tag '/images/corporate2.jpg' , :class=> "img-fluid" %>
                  <i class="icon-hover-plus"></i>
              </a>
              <a href="images/corporate3.jpg" class="
                    image-hover-plus image-hover-zoom image-hover-overlay
                    mb-60
                  ">
                <%= image_tag '/images/corporate3.jpg' , :class=> "img-fluid" %>
                  <i class="icon-hover-plus"></i>
              </a>
              <a href="images/corporate4.jpg" class="
                    image-hover-plus image-hover-zoom image-hover-overlay
                    mb-60
                  ">
                <%= image_tag '/images/corporate4.jpg' , :class=> "img-fluid" %>
                  <i class="icon-hover-plus"></i>
              </a>
              <a href="images/corporate5.jpg" class="
                    image-hover-plus image-hover-zoom image-hover-overlay
                    mb-60
                  ">
                <%= image_tag '/images/corporate5.jpg' , :class=> "img-fluid" %>
                  <i class="icon-hover-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- RECENT WORK -->
    <section class="portfolio-nogutter pb-0 b-0 alternate">
      <div class="container">
        <header class="text-center mb-80">
          <h2>OUR RECENT WORK</h2>
          <p class="fw-300 fs-14 mt-6">
            FEEL FREE TO EXPLORE OUR RECENT WORK
          </p>
        </header>
      </div>

      <!-- PORTFOLIO ITEMS -->
      <div class="row lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
        <a href="images/residential1.jpg" class="
              col-lg-5th
              thumbnail
              p-0
              m-0
              b-0
              image-hover-plus image-hover-zoom image-hover-overlay
              rad-0
            ">
          <%= image_tag '/images/residential1.jpg' %>
            <i class="icon-hover-plus"></i>
        </a>
        <a href="images/residential2.jpg" class="
              col-lg-5th
              thumbnail
              p-0
              m-0
              b-0
              image-hover-plus image-hover-zoom image-hover-overlay
              rad-0
            ">
          <%= image_tag '/images/residential2.jpg' %>
            <i class="icon-hover-plus"></i>
        </a>
        <a href="images/residential3.jpg" class="
              col-lg-5th
              thumbnail
              p-0
              m-0
              b-0
              image-hover-plus image-hover-zoom image-hover-overlay
              rad-0
            ">
          <%= image_tag '/images/residential3.jpg' %>
            <i class="icon-hover-plus"></i>
        </a>
        <a href="images/residential4.jpg" class="
              col-lg-5th
              thumbnail
              p-0
              m-0
              b-0
              image-hover-plus image-hover-zoom image-hover-overlay
              rad-0
            ">
          <%= image_tag '/images/residential4.jpg' %>
            <i class="icon-hover-plus"></i>
        </a>
        <a href="images/residential5.jpg" class="
              col-lg-5th
              thumbnail
              p-0
              m-0
              b-0
              image-hover-plus image-hover-zoom image-hover-overlay
              rad-0
            ">
          <%= image_tag '/images/residential5.jpg' %>
            <i class="icon-hover-plus"></i>
        </a>
      </div>
      <!-- /PORTFOLIO ITEMS -->
    </section>
    <!-- /RECENT WORK -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- col #1 -->
          <div class="col-md-8">
            <h3 class="letter-spacing-1">WHY US?</h3>

            <!-- Small Description -->
            <p>
              We have the conviction that we create the most innovative and
              reliable products on the market. Contact us today for any
              questions you might have.
            </p>
            <h2>(418) 555-1234</h2>
          </div>
          <!-- /col #1 -->

          <!-- col #2 -->
          <div class="col-md-4">
            <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

            <!-- Newsletter Form -->
            <p>Subscribe to Our Newsletter to get Important News & Offers</p>

            <form class="validate" action="" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" id="email" name="email" class="form-control required"
                  placeholder="Enter your Email" />
                <span class="input-group-btn">
                  <button class="btn btn-success" type="submit">
                    Subscribe
                  </button>
                </span>
              </div>
            </form>
            <!-- /Newsletter Form -->
          </div>
          <!-- /col #2 -->
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li>&bull;</li>
            <li><a href="#">Privacy</a></li>
          </ul>
          &copy; All Rights Reserved, Rocket Elevators
        </div>
      </div>
    </footer>
    <!-- /FOOTER -->
  </div>
  <!-- /wrapper -->

  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- JAVASCRIPT FILES -->
  <script>
    var plugin_path = "assets/plugins/";
  </script>
  <script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

  <script src="assets/js/scripts.js"></script>
</body>

</html>